*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild


*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Git Ignore File indicating untracked files

# Gradle Files
.gradle/
build/
/*/build/

# Local Configuration File
local.properties

# .iml
*.iml

/.idea/
/*/.idea/
